<a href="https://colab.research.google.com/github/yyosuke456/Sandbox/blob/master/sandbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("test")

test

改行

\nだけで良いみたい

https://www.javadrive.jp/python/string/index2.html

In [ ]:
print("test\newlinetest")

test
ewlinetest

文字列

In [ ]:
print("abc" + "def")

abcdef

In [ ]:
print("abc" * 3)

abcabcabc

In [ ]:
num = 18
print("My age is " + str(num))
#print("My age is " + num) エラーになる

My age is 18

In [ ]:
len("my age is eighteen")
len("a a")

3

In [ ]:
str1 = "Hello"
print(str1[1])   # e
print(str1[-1])  # o

str2 = "東京都"
print(str2[2])   # 都

e
o
都

In [ ]:
str = "Flower"

print(str[1:4])
print(str[2:6])
print(str[1:4])
print(str[2:6])
print(str[:3])
print(str[3:])
print(str[:])

low
ower
low
ower
Flo
wer
Flower

こんな感じで部分文字列作れるのか。

In [ ]:
num1 = 30
result = "10進数では %d 、16進数では %x です" % (num1, num1)
print(result)

10進数では 30 、16進数では 1e です

％d，%xで勝手に変換してくれる。https://www.javadrive.jp/python/string/index23.html

In [ ]:
def mypoint(str1, num1):
    result = "My name is %-10s, point is %5d." % (str1, num1)
    print(result)

mypoint("Yamada", 75)
mypoint("Sugiyama",1825)

My name is Yamada    , point is    75.
My name is Sugiyama  , point is  1825.

In [ ]:
mylist = ["Orange", "Peach", "Lemon"]
for vv in mylist:
    print(vv)

print("End")

count = 0
for val in mylist:
    print("value:" + val)
    count += 1
else:
    print("要素の数 = " + str(count))

Orange
Peach
Lemon
End
value:Orange
value:Peach
value:Lemon
要素の数 = 3

In [ ]:
myList = [1, 2, 3, 4]

for val in myList:
  print(str(val))
  if val == 2:
    break
## break文

1
2

In [ ]:
## 指定要素数のlist作成 めっちゃ楽
numlist = [0] * 10
numlist3 = [1, 2, 3] * 5
namelist = ["undefined"] * 10
print(numlist, numlist3, namelist)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0] [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3] ['undefined', 'undefined', 'undefined', 'undefined', 'undefined', 'undefined', 'undefined', 'undefined', 'undefined', 'undefined']

In [3]:
# リストに要素追加
myList = ["A", "B", "C"]
myList.append("D")
print(myList)

myList[len(myList):len(myList)] = ["D", "E"]
print(myList)

myList[1:2] = ["W"]
print(myList)
myList[1] = "X"
print(myList)

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 'D', 'E']
['A', 'W', 'C', 'D', 'D', 'E']
['A', 'X', 'C', 'D', 'D', 'E']

In [7]:
# リストの結合

mylist = ["A", "B", "C"]
mylist.extend(["D", "E"])

print(mylist)
mylist.append(["D", "E"])
print(mylist)

#これはいい。便利
list1 = ["あ", "い"]
list2 = ["う", "え"]
list3 = list1 + list2
print(list3)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E', ['D', 'E']]
['あ', 'い', 'う', 'え']